<div class="auth-container">
  <h2>Create an Account</h2>

  <form (ngSubmit)="onSignup()">
    <input
      type="text"
      [(ngModel)]="firstName"
      name="firstName"
      placeholder="First Name"
      required
    />

    <input
      type="text"
      [(ngModel)]="lastName"
      name="lastName"
      placeholder="Last Name"
      required
    />

    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required
    />

    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
    />

    <input
      type="date"
      [(ngModel)]="birthDate"
      name="birthDate"
      required
    />

    <button type="submit">Sign Up</button>
  </form>

  <div class="switch">
    Already have an account?
    <a routerLink="/login">Login here</a>
  </div>
</div>
